@media print {
  body {
    background: white !important;
  }

  aside,
  header,
  .print\:hidden {
    display: none !important;
  }

  main {
    width: 100% !important;
  }

  section {
    padding: 0 !important;
  }

  @page {
    size: A4;
    margin: 16mm;
  }
}

@media print {
  body {
    background: white !important;
  }

  .print\:hidden {
    display: none !important;
  }
}